.App  {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  align-items: space-between;
}
.title button {
  height: 50%
}
.error {
  border: red 1px solid;
 }
 
 .error-message {
  color: red;
 }
 .active-filter {
  background-color: aquamarine;
}
.is-done {
  opacity: 0.5;
}